.container {




	display: flex;
	flex-direction: column;
	align-items: center;

}

.petsContainer {
	border: 4px double #385e78;
	border-radius: 5px;
	padding: 1em;
	margin: 2em auto;
}

.temporary {
	font-size: 1.5rem;
	margin-top: 1em;
	color: #df2209;
}

.formCard {
	border: 1px solid #385e78;
}
